<!-- Image and text -->
<nav class="navbar navbar-light bg-primary">
  <a class="navbar-brand text-light" href="#">
    <i class="fas fa-cloud-sun"></i>
    Weather App
  </a>
</nav>
<br/>
<div class="container text-center">
  <div class="row">
    <div class="col-sm" alt="Country">
      <span>
      <i class="fas fa-location fa-5x"></i>
      </span>
      <h4>{{country}}</h4>
    </div>
    <div class="col-sm" alt="Temperature">
    <span>
      <i class="fas fa-cloud-sun fa-5x"></i>
      </span>
      <h4>{{temp}} °C</h4>
      <p>{{desc}}</p>
    </div>
    <div class="col-sm" alt="Humidity">
    <span>
      <i class="fas fa-humidity fa-5x"></i>
      </span>
      <h4>{{humid}} %</h4>
    </div>
  </div>
</div>
